html,
body,
#__next {
  font-size: 2.25vw;
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 300;
  font-family: Inter, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre code {
  font-weight: 400;
  font-family: 'Dank Mono', 'Fira Code', monospace;
}
